/***** BASE *****/
body {
  margin: 0px;
  background-color: #e7e7e7;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  font-family: 'helvetica';
}

.fragment {
  display: inline-block;
  position: static;
  width: 100%;
  margin-top: -20px;
}

.fragment .col-sm-6
{
  padding: 0 0 1em 0;
  height: 100%;
  display: block;
}

.titlearea {
  float: none;
  display: table-cell;
  left: 0;
  right: 0;
  width: 100%;
  margin-bottom: -6px;
}
.titlearea h4
{
  float: left;
  color: #fff;
  padding: 6px;
  padding-left: 0;
  margin-bottom: 0;
}
.titlearea.one h4, .titlearea.one i { color: #006ca5; }
.titlearea.two h4, .titlearea.two i { color: #008e0b; }
.CodeMirror.one { border-top: 3px solid #0094e2; }
.CodeMirror.two
{
  border-top: 3px solid #00a80d;
  color: #666;
  background-color: #f0f0f0;
}
.CodeMirror.two .CodeMirror-gutters {
  background-color: #f0f0f0;
  border-right: 0;
}
