<div class="col-sm-6">
  <div class="titlearea input"><h4>Assembly Input</h4>
    <select class="form-control" id="assemblystyle">
    </select>
  </div>
  <textarea id="code-lalu" name="code">{{> assemblerin}}</textarea>
</div>
<div class="col-sm-6">
  <div class="titlearea output"><h4>Output</h4><button type="button" class="btn btn-success" id="downloadbutton"><i class="fa fa-download"></i> &nbsp;Save Logisim binary</button><h5 id="compilestatus"><i class="fa fa-cog fa-spin"></i>Compiling...</h5></div>
  <textarea id="code-text" name="code">{{> assemblerout}}</textarea>
</div>
